<h3 style="color:whitesmoke;font-family: Roboto">List of parking cars at present</h3>

<button pButton type="button" (click)="toggle()" style="margin-bottom:10px" label="Toggle" icon="fa-list"></button>

<div class="card" style="width: 50%; text-align: center">
  <p-dataTable [value]="onGoingCars" [rows]="6" [paginator]="true" [pageLinks]="3" [responsive]="true" [stacked]="stacked"
               reorderableColumns="true">
    <p-column [filter]="true" filterPlaceholder="Search" field="licensePlateNumber" header="License Plate"></p-column>
    <p-column [filter]="true" filterPlaceholder="Search" field="parkingStart" header="Parking Start"></p-column>
    <p-column [filter]="true" filterPlaceholder="Search" field="parkingZoneCode" header="Zone"></p-column>
  </p-dataTable>
</div>
