<div class="ui-g">
  <div class="ui-g-6 ui-g-nopad">
    <div class="ui-g-12 ui-md-12">
      <span style="color:whitesmoke;font-family: Roboto;font-weight: bold; margin-top: 0;margin-bottom: 4px;">List of parking cars at present</span>
      <p-dataTable [value]="onGoingCars" [rows]="6" [paginator]="true" [pageLinks]="3" reorderableColumns="true">
        <p-column [filter]="true" filterPlaceholder="Search" field="licensePlateNumber" header="License Plate"></p-column>
        <p-column [filter]="true" filterPlaceholder="Search" field="parkingStart" header="Parking Start"></p-column>
        <p-column [filter]="true" filterPlaceholder="Search" field="parkingZoneCode" header="Zone"></p-column>
      </p-dataTable>
    </div>
    <div class="ui-g-12 ui-md-12">
      <span style="color:whitesmoke;font-family: Roboto;font-weight: bold; margin-top: 0;margin-bottom: 4px;">List of zones</span>

      <p-dataTable [value]="parkingZones" [rows]="6" [paginator]="true" [pageLinks]="3"reorderableColumns="true"
                   selectionMode="single" [(selection)]="selectedParkingZone">
        <p-column [filter]="true" filterPlaceholder="Search" field="label"  header="Zone Code"></p-column>
        <p-column [filter]="true" filterPlaceholder="Search" field="parkingCostPerHour"  header="Cost/Hour"></p-column>
        <p-footer>
          <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="openNewZoneDialog()" label="Add"></button>
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="openEditZoneDialog()" label="Edit" [disabled]="!selectedParkingZone"></button>
          </div>
        </p-footer>
      </p-dataTable>

    </div>
  </div>
  <div class="ui-g-6 ui-md-6">
    <span style="color:whitesmoke;font-family: Roboto;font-weight: bold;margin-top: 0;margin-bottom: 4px;">List of all cars</span>
    <p-dataTable [value]="allCars" [rows]="18" [paginator]="true" [pageLinks]="3" reorderableColumns="true">
      <p-column [filter]="true" filterPlaceholder="Search" field="licensePlateNumber" header="License plate"></p-column>
    </p-dataTable>
  </div></div>




<p-dialog header="{{headerTitle}}" [(visible)]="displayDialog" *ngIf="displayDialog" [modal]="true" [responsive]="true">
  <form #parkingZoneForm="ngForm">
  <div>
      <span class="ui-float-label">
        <input [(ngModel)]="zoneCode" name="zoneCode" id="zoneCode" type="text" size="30" minlength="4" pInputText>
        <label for="zoneCode">Zone code</label>
      </span>
  </div>
  <div>
  <span class="ui-float-label" style="margin-top: 20px; margin-bottom: 20px">
        <input [(ngModel)]="parkingCostPerHour" name="cost" id="cost" type="text" size="30" pInputText>
        <label for="cost">Cost/hour</label>
      </span>
  </div>
  <button pButton type="button" label="Save" (click)="saveParkingZone()" [disabled]="!parkingZoneForm.form.valid"></button>
  <button pButton type="button" label="Cancel" (click)="closeDialog()"></button>
  </form>
</p-dialog>
<p-growl [(value)]="msgs"></p-growl>
