<h3 style="color:whitesmoke;font-family: Roboto">List of parking cars at present</h3>
<!--<button pButton type="button" (click)="toggle()" style="margin-bottom:10px" label="Toggle" icon="fa-list"></button>-->
<div class="card" style="width: 50%; text-align: center">
  <p-dataTable [value]="onGoingCars" [rows]="6" [paginator]="true" [pageLinks]="3" [responsive]="true"
               [stacked]="stacked"
               reorderableColumns="true">
    <p-column [filter]="true" filterPlaceholder="Search" field="licensePlateNumber" header="License Plate"></p-column>
    <p-column [filter]="true" filterPlaceholder="Search" field="parkingStart" header="Parking Start"></p-column>
    <p-column [filter]="true" filterPlaceholder="Search" field="parkingZoneCode" header="Zone"></p-column>
  </p-dataTable>
</div>

<!--<h3 style="color:whitesmoke;font-family: Roboto">List of parking zones</h3>-->
<button (click)="openNewZoneDialog()" style="margin-top:20px; background-color: indianred; border: indianred" pButton type="button"
        label="Add new parking zone"></button>
<div class="card" style="width: 50%; text-align: center">
  <p-dataTable [value]="parkingZones" [rows]="6" [paginator]="true" [pageLinks]="3" [responsive]="true"
               [stacked]="stacked"
               reorderableColumns="true">
    <p-column [filter]="true" filterPlaceholder="Search" field="label"  header="List of parking zones"></p-column>

  </p-dataTable>
</div>

<p-dialog header="Add new parking zone" [(visible)]="displayDialog" *ngIf="displayDialog" [modal]="true" [responsive]="true">
  <div>
      <span class="ui-float-label">
        <input [(ngModel)]="zoneCode" id="zoneCode" type="text" size="30" pInputText>
        <label for="zoneCode">Zone code</label>
      </span>
  </div>
  <div>
  <span class="ui-float-label" style="margin-top: 20px; margin-bottom: 20px">
        <input [(ngModel)]="parkingCostPerHour" id="cost" type="text" size="30" pInputText>
        <label for="cost">Cost/hour</label>
      </span>
  </div>
  <button pButton type="button" label="Add" (click)="addParkingZone()"></button>
  <button pButton type="button" label="Cancel" (click)="closeDialog()"></button>

</p-dialog>
<p-growl [(value)]="msgs"></p-growl>
